.container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.button-container {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 0 10px;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.search-input {
  width: 100%;
}

.table {
  width: 100%;
}

.mat-mdc-header-cell, .mat-mdc-cell {
  text-align: center;
}

.song-button {
  width: 300px;
}

.song-name-cell {
  width: 500px;
  text-align: center;
}

.song-logo-cell {
  text-align: center;
}

.youtube-container {
  display: flex;
  height: 500px;
  width: 100%;
  border: 1px solid gray;
  box-shadow: 0 2px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}