<div class="container">
  <app-youtube-player videoId="{{videoId}}" (playNext)="playNextSong()"/>
</div>
<div class="container" *ngIf="currentPlayedSong">
  Now playing "{{currentPlayedSong}}".
</div>
<div class="button-container">
  <button *ngIf="playlist.length > 0 && currentPlaylistIndex > 1" mat-flat-button class="button" (click)="playPreviousSong()"> Prev </button>
  <button *ngIf="playlist.length > 0 && currentPlaylistIndex < playlist.length || playlist.length < 1" mat-flat-button class="button" (click)="playNextSong()"> {{ playlist.length > 0 ? "Next" : "Play Random Song"}} </button>
  <div *ngIf="playlist.length > 0">
    <input class="playlist-input" #playlistIndex type="number" [min]="1" step="1" [max]="playlist.length"  [(ngModel)]="currentPlaylistIndex" (input)="playNextSong(+playlistIndex.value)"> of {{playlist.length }}
  </div>
</div>
<div class="container"> 
  <mat-form-field class="search-input">
    <input matInput type="text" (input)="onSearchChange($event)" placeholder="Enter an OST name or Description...">
  </mat-form-field>
  <button mat-flat-button (click)="shufflePlaylist()" class="play-button">
    <mat-icon> shuffle </mat-icon> <mat-icon> play_circle </mat-icon>
  </button>
</div>
<br>
<table mat-table [dataSource]="musicTableDataSource" class="table">
  <ng-container matColumnDef="mark">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td class="song-logo-cell" mat-cell *matCellDef="let song"> <img src="https://maplestory-music.github.io/mark/{{song.mark}}.png">  </td>
  </ng-container>
  <ng-container matColumnDef="songName">
    <th mat-header-cell *matHeaderCellDef class="sortable-table-header" (click)="sortName()"> Song name 
      <mat-icon *ngIf="sortNameDesc !== undefined">{{ sortNameDesc ? "arrow_drop_down" : "arrow_drop_up" }}</mat-icon>
    </th>
    <td class="song-name-cell" mat-cell *matCellDef="let song"> <button class="song-button" mat-flat-button (click)="playSong(song.metadata.title, song.youtube)"> {{song.metadata.title}} </button> </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let song"> {{song.description}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="sortable-table-header" (click)="sortDate()"> Date
      <mat-icon *ngIf="sortDateDesc !== undefined">{{ sortDateDesc ? "arrow_drop_down" : "arrow_drop_up" }}</mat-icon>
      <button matMiniFab [matMenuTriggerFor]="menu" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button> 
    </th>
    <mat-menu #menu="matMenu">
      <mat-form-field (click)="$event.stopPropagation()">
        <mat-label>Date Range</mat-label>
        <select #dateRangeSelection matNativeControl>
          <option value="before">Before</option>
          <option value="after">After</option>
          <option value="between">In Between</option>
        </select>
      </mat-form-field>
      <mat-form-field *ngIf="dateRangeSelection.value !== 'between'" (click)="$event.stopPropagation()">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="beforeAfterPicker" (dateChange)="onDateFilter($event, dateRangeSelection.value)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="beforeAfterPicker"></mat-datepicker-toggle>
        <mat-datepicker #beforeAfterPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="dateRangeSelection.value === 'between'" (click)="$event.stopPropagation()">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="dateRangePicker">
          <input matStartDate #dateRangeStart placeholder="Start date">
          <input matEndDate #dateRangeEnd placeholder="End date" (dateChange)="onDateRangeFilter(dateRangeStart, dateRangeEnd)">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
      </mat-form-field>
    </mat-menu>
    <td mat-cell *matCellDef="let song"> {{song.source.date}} </td>
  </ng-container>

  <ng-container matColumnDef="folder">
    <th mat-header-cell *matHeaderCellDef> Folder </th>
    <td mat-cell *matCellDef="let song"> {{song.source.structure}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons> </mat-paginator>


