<div>
	<div class="content">
		<label> How many slots are on the item? </label>
		<mat-form-field>
			<mat-label>Number of Slots</mat-label>
			<mat-select name="slots" [(ngModel)]="numOfSlots">
				<mat-option *ngFor="let num of slots" [value]="num">{{num}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="content">
		<label> How many of each scroll type you intend to use? (10%, 30%, 60%) </label>
		<div class="inner-container">
			<div>
				<mat-form-field>
					<mat-label> Number of 10% </mat-label>
					<input matInput type="number" [(ngModel)]="numOfScrollsPerTier[0]" /> 
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label> Number of 30% </mat-label>
					<input matInput type="number" [(ngModel)]="numOfScrollsPerTier[1]" /> 
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label> Number of 60% </mat-label>
					<input matInput type="number" [(ngModel)]="numOfScrollsPerTier[2]" /> 
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="content">
		<label> What are the bonus stats applied for each scroll tier? </label>
		<div class="inner-container">
			<div>
				<mat-form-field>
					<mat-label> Number of +3 </mat-label>
					<input matInput type="number" [(ngModel)]="scrollNums[0]" /> 
				</mat-form-field>
				<mat-form-field>
					<mat-label> STAT </mat-label>
					<mat-select [(ngModel)]="scrollStats[0]">
						<mat-option *ngFor="let stat of possibleStats" [value]="stat">{{stat}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label> Number of +5 </mat-label>
					<input matInput type="number" [(ngModel)]="scrollNums[1]" /> 
				</mat-form-field>				
				<mat-form-field>
					<mat-label> STAT </mat-label>
					<mat-select [(ngModel)]="scrollStats[1]">
						<mat-option *ngFor="let stat of possibleStats" [value]="stat">{{stat}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label> Number of +2 </mat-label>
					<input matInput type="number" [(ngModel)]="scrollNums[2]" /> 
				</mat-form-field>
				<mat-form-field>
					<mat-label> STAT </mat-label>
					<mat-select [(ngModel)]="scrollStats[2]">
						<mat-option *ngFor="let stat of possibleStats" [value]="stat">{{stat}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
	<button mat-flat-button (click)="displayTable()">Calculate</button>
	<div *ngIf="shouldDisplayTable">
		<table mat-table [dataSource]="dataSource">
			<ng-container matColumnDef="statBonus">
				<th mat-header-cell *matHeaderCellDef> Stat Bonuses </th>
				<td mat-cell *matCellDef="let statBonusesChances"> {{statBonusesChances.statBonus}} </td>
			</ng-container>

			<ng-container matColumnDef="percentage">
				<th mat-header-cell *matHeaderCellDef> Percentage </th>
				<td mat-cell *matCellDef="let statBonusesChances"> {{statBonusesChances.percentage}} </td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>
</div>
